body {
    background: #e4f9f5 ;
    margin: 0;
    text-align: center;
     
}

h1 {
   font-family: 'Sacramento', cursive;
   font-size: 100px;
   bottom: 5px;
   color: skyblue;
   
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: skyblue;
    
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 200px;
}